.landing-page-bg {
    /* Frame 6 */

    position: absolute;
    width: 666px;
    height: 803px;
    right: 0;

    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 61px;
}