.landing-page-bg {
    @apply bg-main-white;
}

.profile-image {
    width: 507px;
    height: 850px;
    left: 911px;
    top: 67px;
    background-image: linear-gradient('to bottom', current-color, transparent);
}